.wrapper{

  margin: 0 auto;
  width: 500px;

}

h1{
    margin-top:10px;
    text-align: center;
    color: pink;
    }

input{
   margin-top:10px
}

.form_input{
    padding-left: 40%;

}

#sub_btn{
  width: 100px;
  background-color: pink;
  color: white;
  margin-left: 35%;
}
#form img{

  width: 200px;
  height: 200px;
  margin-top:20px;
  margin-left: 25%;
}

#section_cats{
  margin:0;
  width: 800px;
  margin-top: 40px;

}

#section_cats img{

  width: 200px;
  height: 200px;
  margin-top:20px;

  float: left;

}

#section_choice{

  width: 1000px !important;
  margin-left:-300px;
}


#img_disps {
    float: left;
    padding-left: 30px;


}

#dog {
  float:left;
  width:30%;
  margin-top: 30px;
  margin-bottom: 30px;
}'

#cat {
  float: left;
  width:30%;

}
#bird {
  width:30%;
  float:left;
}
